
{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti aperiam facere odit eveniet quas suscipit voluptas repudiandae molestiae, at unde sapiente quos provident possimus nam eaque rerum porro neque, adipisci ipsam ipsum quod sit tenetur. Veritatis nisi, facere animi dignissimos maiores voluptates rem quam aperiam iure placeat, eligendi natus assumenda nemo ab sunt officia quo nostrum eaque quibusdam? Et repellat eligendi rem voluptates, earum quae voluptas atque esse libero ut nostrum a officiis corrupti modi! Sunt cupiditate rem blanditiis, inventore vero tenetur dolorem, illum voluptatibus doloribus mollitia totam impedit culpa voluptates quod quisquam, asperiores eveniet odit? Qui obcaecati deserunt sunt!+</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}
